*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #990033;
	font-family: sans-serif;
	font-weight: bold;
}
input{
  outline: none;
  border: none;
  display: border;
  background: transparent;
  width: 100%;
  font-size: 15px;
  padding: 5px 5px;
  font-weight: 500;
  color: black;
}
.heading h1{
	font-size: 250%;
	color: black;
	float: left;
  	text-align: center;
}
.container{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90%;
	background-color: #FAEBD7;
	display: flex;
	box-shadow: 30px 10px 100px rgba(0,0,0,0.2);
	border-radius: 50px 50px 50px 50px;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}
.image{
  width: 45%;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap2{
  width: 80%;
  position: relative;
  border-bottom: 2px solid #DC143C;
  margin-bottom: 13px; 
}
.wrap{
  display: flex;
  width: 80%;
  justify-content: center;
}
.f1{
  border-bottom: 2px solid #DC143C;
  position: relative;
  width: 40%;
}
.f2{
  border-bottom: 2px solid #DC143C;
  margin-left: auto;
  position: relative;
  width: 40%;
}
label{
  font-size: 15px;
  color: black;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  min-height: 10px;
  border-bottom: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
#click{
	display: none;
}
.click-me{
  margin-top: 10px;
  width: 300px;
  height: 50px;
  display: block;
  border-radius: 40px;
  border: none;
  outline: done;
  font-size: 18px;
  text-align: center;
  background: #990033;
  color: white;
  box-shadow: 9px 100px 30px rgba(0,0,0,0.2);
  transition: 0.4s;
	line-height:50px;
	cursor: pointer;
}
.click-me:hover{
  background: #F08080;
  color: black;
  transition: 0.4s;
}

.content{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%, -50%);
}
.content{
	opacity: 0;
	visibility: visible;
	width: 400px;
	height: 350px;
	background: white;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.4);
}
#click:checked ~ .content{
	opacity: 1;
	visibility: visible;
}
.header{
	height: 68px;
	background: #DC143C;
	overflow: hidden;
	border-radius: 50px 50px 0 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.header h2{
	color: black;
	text-align: center;
	font-weight: normal;
}
.fa-times{
	position: absolute;
	right: 20px;
	top: 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.fa-check{
	font-size: 50px;
	color: #27ae60;
	font-weight: bold;
	height: 80px;
	width: 80px;
	border: 2px solid #2E8B57;
	text-align: center;
	padding-top: 13px;
	border-radius: 50%;
	box-sizing: border-box;
	margin: 30px 0 0 160px;
}
p{
	padding-top: 10px;
	font-size: 19px;
	font-family: arial;
	text-align: center;
}
.close-btn{
	position: absolute;
	bottom: 10px;
	right:20px;
	border: 1px solid #8B0000;
	border-radius: 100px;
	padding: 8px 80px;
  	font-size: 15px;
	font-family: arial;
	cursor: pointer;
	z-index: -1;
	left: 5%;
	color: #8B0000;
}
.close-btn:hover{
  background:#DC143C;
  color: white;
  transition: 0.5s;
}

@media(max-width:1250px){
  .container{
    width: 90%;
  }
}
@media(max-width:770px){
  .image{
    display: none;
  }
.container{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90%;
	background-color: #F5F5F5;
	display: flex;
	box-shadow: 30px 10px 30px rgba(0,0,0,0.2);
}
.heading h1{
	position: relative;
	left: 30%;
}
.wrap{
	position: relative;
	left: 20%;
}
.wrap2{
	position: relative;
	left: 20%;
}
.click-me{
	position: relative;
	left: 20%;
}
}
