.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(139, 20, 44);
    justify-content: center;
}

.container div{
    color: aliceblue;
    height: 100px;
    width: 100px;
    background-color: bisque;
    color: black;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    margin: 5px;
}